---

# DEPLOYMENT

- name: Create datomic user.
  user: name=datomic state=present

- name: Create datomic data directory
  file: state=directory path={{ datomic_data_dir }} owner=ubuntu group=ubuntu

- name: Make datomic log directory
  file: state=directory path=/var/log/datomic owner=ubuntu group=ubuntu
    
# Download and make current if necessary
- name: Check datomic installation
  stat: path={{ datomic_dir }}/{{ datomic_filename }}
  register: datomic


- name: Create datomic directory
  file: state=directory path={{ datomic_dir }} owner=ubuntu group=ubuntu
  when: not datomic.stat.exists

- name: Download datomic
  command: "chdir={{ datomic_dir }} wget --http-user=ian@vitalreactor.com --http-password={{ datomic_download_key }} https://my.datomic.com/repo/com/datomic/datomic-pro/{{ datomic_version }}/datomic-pro-{{ datomic_version }}.zip --no-check-certificate -O datomic-pro-{{ datomic_version }}.zip"
  when: not datomic.stat.exists

- name: Unpack datomic
  command: chdir={{ datomic_dir }} unzip datomic-pro-{{ datomic_version }}.zip
  when: not datomic.stat.exists

- name: datomic dir permissions
  shell: chown -R ubuntu:ubuntu {{ datomic_dir }}/{{ datomic_filename }}

- name: datomic log dir permissions
  shell: chown -R ubuntu:ubuntu {{ datomic_log_dir }}

- name: Link datomic
  file: src={{ datomic_dir }}/{{ datomic_filename }}
        dest={{ datomic_dir }}/current
        owner=ubuntu
        group=ubuntu
        state=link



# CONFIGURE
# Right now this section is sortof assuming dynamo and does not need ot be perfect since we are moving to cassandra anyway.

# do we need to check that datomic properties generated by ensure exists already? will need this to manage property 
# changes moving forward but since we are not using dynmo I am deferring decision

- name: gather ec2-specific facts
  action: ec2_facts
  environment: aws_creds


# Configure distribution
- name: Upload datomic properties file with host 
  template: src=transactor.properties.{{  datomic_protocol  }}.j2 dest={{ datomic_dir }}/transactor.properties owner=ubuntu group=ubuntu mode=0664


- name: Ensure Datomic Transactor Settings 
  command: "bin/datomic ensure-transactor {{ datomic_dir }}/transactor.properties {{ datomic_dir }}/transactor.properties chdir={{ datomic_dir }}/current"
  notify:
    - restart datomic
  environment: aws_creds
  when: not datomic.stat.exists


- name: datomic log dir permissions
  shell: chown -R ubuntu:ubuntu {{ datomic_log_dir }}
  when: not datomic.stat.exists


# Deploy upstart    
- name: Upload datomic upstart config file
  template: src=datomic-upstart.conf.j2 dest=/etc/init/datomic.conf
    
- name: ensure datomic is run
  service: name=datomic state=started enabled=yes

- name: wait until datomic comes back up, simple smoke test
  wait_for: host={{ inventory_hostname }} port={{ datomic_port}}

