########### free mode config ###############
protocol=dev
host=localhost
#free mode will use 3 ports starting with this one:
port=4334
log-dir=/var/log/datomic
data-dir={{ datomic_data_dir }}
pid-file=/var/log/datomic/datomic.pid
license-key={{ datomic_license }}

# See http://support.datomic.com/customer/portal/articles/850962-handling-high-write-volumes
memory-index-threshold=128m
memory-index-max=256m
object-cache-max=512m