---
# Common image setup

- name: install common packages
  apt: name={{ item }} state=latest update_cache=yes cache_valid_time=3600
  with_items:
    - ntp
    - emacs23-nox
    - lynx
    - git
    - make
    - g++
    - unzip
    - python
    - python-apt
    - python-pip
    - python-software-properties

- name: apply NTP configuration for AWS
  template: src=ntp.conf.j2 dest=/etc/ntp.conf
  notify:
    - restart ntpd

- name: first time ntp start
  service: name=ntp state=started enabled=yes

# Enable the deploy user
- name: ensure the deploy user is present
  user: name=deploy home=/home/deploy
        state=present groups=admin
        comment="Deployer Account" 
    
- name: set umask for group write perms
  lineinfile: "dest=/home/deploy/.profile regexp='^umask' line='umask 002'"
              
- name: add the deploy public key
  authorized_key: user=deploy key="{{ item }}"
  with_file:
    - deploy-key.pub

- name: deploy can sudo
  lineinfile: "dest=/etc/sudoers state=present regexp='^deploy' line='deploy ALL=(ALL) NOPASSWD: ALL'"
