 curl -k -X POST -H "Content-Type: application/json" -d '{"action":"login","args":{"app":"1","username":"floyd","password":"password"}}' http{{ proxy_pass_ssl }}://{{ inventory_hostname }}:{{ switchboard_port }}/api/v1/login