 
pre-start script
bash << "EOF"
mkdir -p /var/log/datomic
chown -R ubuntu /var/log/datomic
EOF
end script

# Start/stop conditions
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

# Restart if it crashes
respawn
 
# Run the service
script
export AWS_SECRET_KEY={{ ec2_secret_key }}
export AWS_ACCESS_KEY={{ ec2_access_key }}
{{ datomic_dir }}/current/bin/transactor -Xms512m -Xmx2048m {{ datomic_dir}}/transactor.properties 2>&1 >> {{ datomic_log_dir }}/datomic.log
end script
 
