[
{% for i in vpc_lb_listeners %}
  {
    "Protocol": "{{ i.protocol }}",
    "LoadBalancerPort": {{ i.load_balancer_port }},
    "InstanceProtocol": "{{ i.instance_protocol }}",
{% if i.ssl_cert_id is defined %}
    "InstancePort": {{ i.instance_port }},
    "SSLCertificateId": "{{ i.ssl_cert_id }}"
{% endif %}
{% if i.ssl_cert_id is not defined %}
    "InstancePort": {{ i.instance_port }}
{% endif %}
{% if loop.last %}
  }
{% endif %}
{% if not loop.last %}
  },
{% endif %}
{% endfor %}
]
