# DATABASE: Ensure our database tier is running correctly
- name: Deploy Initial Configs: DB.
  hosts: dev_db
  remote_user: ubuntu
  sudo: true
  vars_files:
  - group_vars/all
  pre_tasks:

  - name: set up jumphost for DB subnet
    connection: local
    shell: echo "I haven't figured out how to pull this off quite yet."

  roles:

  - common
  - java
  - db-dse
  - db-datomic

# PROXY: Ensure we have a local proxy ready to route requests
- name: Deploy Initial Configs: Proxy
  hosts: dev_proxy
  remote_user: deploy
  vars_files:
  - group_vars/all
  
  roles:
  
  - proxy

- name: Deploy Initial Configs: Switchboard/Orchestra 
  hosts: dev_app
  remote_user: deploy
  vars_files:
  - group_vars/all

  roles:

  - app-immutant-config
  - app-immutant-deploy
  - app-cloture-config