---
- name: Gather facts from all hosts
  hosts: dev_all_
  remote_user: ubuntu 

  tasks:
  - name: Gather EC2-based facts
    ec2_facts:

# include the separate deployment playbooks
- include: deploy-cassandra.yml
- include: deploy-datomic.yml
- include: deploy-proxy.yml
- include: deploy-switchboard.yml
