# DATABASE: Ensure our database tier is running correctly
- name: Deploy Initial Configs DB
  hosts: tag_Name_dev_db
  remote_user: ubuntu
  sudo: true
  vars_files:
  - vars/main.yml
  pre_tasks:

  # - name: set up jumphost for DB subnet
  #   connection: local
  #   shell: echo "I haven't figured out how to pull this off quite yet."

  roles:

  - common
  - java
  - db-dse
  - db-datomic

# PROXY: Ensure we have a local proxy ready to route requests
- name: Deploy Initial Configs Proxy Common
  hosts: tag_Name_dev_proxy
  remote_user: ubuntu
  sudo: true
  vars_files:
  - vars/main.yml
  
  roles:
  - common

  tags: proxytag

  # PROXY: Ensure we have a local proxy ready to route requests
- name: Deploy Initial Configs Proxy
  hosts: tag_Name_dev_proxy
  remote_user: deploy
  vars_files:
  - vars/main.yml
  
  roles:
  - proxy-config


  tags: proxytag

- name: Deploy Initial Configs Switchboard/Orchestra Common
  hosts: tag_Name_dev_app
  remote_user: ubuntu
  sudo: true
  vars_files:
  - vars/main.yml

  roles:
  
  - common
  - java



  - name: Deploy Initial Configs Switchboard/Orchestra 
  hosts: tag_Name_dev_app
  remote_user: deploy
  vars_files:
  - vars/main.yml

  roles:
  
  - app-github
  - app-clojure-config
  - app-immutant-config
  - app-deploy