---
- name: Gather facts from all hosts
  hosts: "{{ environ|default('dev') }}_all_"
  remote_user: ubuntu 


  vars_files:
  - "{{ lookup('env', 'HOME') }}/.ssh/switchboard_vars.yml"
  
  vars_prompt:

    - name: "orchestra_git_version"
      prompt: "Orchestra release version"
      default: HEAD
      private: no

    - name: "switchboard_git_version"
      prompt: "Switchboard release version"
      default: HEAD
      private: no

  tasks:
  - name: Gather EC2-based facts
    ec2_facts:

  roles:
  - newrelic

# include the separate deployment playbooks
- include: deploy-cassandra.yml
- include: deploy-datomic.yml
- include: deploy-immutant.yml
- include: deploy-switchboard.yml
- include: deploy-proxy-nginx-config.yml
- include: deploy-newrelic.yml
  when: newrelic_install == True
