# PROXY: Ensure we have a local proxy ready to route requests
- name: Deploy Initial Configs Orchestra Archive
  hosts: tag_Name_{{environ|default('dev')}}_proxy
  remote_user: ubuntu
  sudo: true

  roles:
  - common

# PROXY: Ensure we have a local proxy ready to route requests
- name: Deploy Orchestra archive to web container
  hosts: tag_Name_{{environ|default('dev')}}_proxy
  remote_user: ubuntu
  sudo: true
  serial: 1

  vars_prompt:

    - name: "orchestra_git_version"
      prompt: "Orchestra release version"
      default: HEAD
      private: no



  roles:
  - proxy-nginx-config