
# The immutant server and the switchooard app are very tight ly coupled due to the off jboss7
# behaviour when shutting down the server. 



- name: Deploy Initial Configs Switchboard Orchestra Common
  hosts: tag_Name_{{environ|default('dev')}}_app
  remote_user: ubuntu
  sudo: true

  vars_files:
  - "{{ lookup('env', 'HOME') }}/.ssh/switchboard_vars.yml"

  roles:
  - common
  - java
  - app-github
  - app-immutant-config
  - app-deploy
