---
- name: Deploy the initial common configuration and setup for DSE hosts
  hosts: tag_{{environ|default('dev')}}_cassandra_
  remote_user: ubuntu
  sudo: true

  vars_files:
  - "{{ lookup('env', 'HOME') }}/.ssh/switchboard_vars.yml"

  pre_tasks:

  tasks:
   - name: Gather EC2-based facts
     ec2_facts:

  roles:
  - common
  - java
  - {role: db-dse, tags: ["datastax"]}

- name: Bring up Cassandra seed(s) in serial
  hosts: tag_Name_{{environ|default('dev')}}_db_seed
  remote_user: ubuntu
  sudo: true
  serial: 1

  roles:
  - {role: dse-cassandra-start, tags: ["datastax"]}

- name: Bring up the rest of the Cassandra hosts
  hosts: tag_Name_{{environ|default('dev')}}_db
  remote_user: ubuntu
  sudo: true
  
  roles:
  - {role: dse-cassandra-start, tags: ["datastax"]}
