---
# Perform a rolling update of both Orchea and Switchboard code and configuration, one  host at a time.
#
# Notes:
#
# This is the general pattern for a rolling upgrade. 
# 
# The "serial: 1" setting controls how many nodes are restarted at a time. For large clusters,
# increase this.
#
# Rigbt now we are relying on the nginx failover ot handle uptime.  Should maybe remove from nginx beforehand though so there
# is nto a slowdown.
#


- name: Upgrade All application hosts
  hosts: tag_Name_{{environ|default('dev')}}_app
  remote_user: ubuntu
  sudo: true
  serial: 1


  vars_prompt:

    - name: "orchestra_git_version"
      prompt: "Orchestra release version"
      default: HEAD
      private: no

    - name: "switchboard_git_version"
      prompt: "Switchboard release version"
      default: HEAD
      private: no

    - name: ssl_passphrase
    prompt: "Enter SSL Certificate Passphrase"
    private: false
    when: ssl_deployssl == True

  vars_files:
  - "{{ lookup('env', 'HOME') }}/.ssh/switchboard_vars.yml"

  pre_tasks:
  # nothing right now..need to take out of load balancer or does iummutant handle?

  # re-apply roles and any config changes
  roles:
  - app-deploy

  post_tasks:
  # noen righ tnow, assume immutant is started back up


- include: update-app-clojure-config-source.yml
  when: switchboard_deployfrom_source == True
- include: update-app-clojure-config-archive.yml
  when: switchboard_deployfrom_source == False
- include: update-app-deploy.yml