---
# tasks file for db

# DSE DEPLOYMENT

- name: configure the datastax enterprise repository
  apt_repository: repo="deb http://{{ dse_username }}:{{ dse_password }}@debian.datastax.com/enterprise stable main" state=present
  
- name: add dse repository key
  apt_key: url=https://debian.datastax.com/debian/repo_key state=present 

- name: update apt-get
  apt: update_cache=yes

- name: install DSE packages 
  apt: pkg={{ item }} state=installed force=yes
  with_items: cassandra_versions
  notify:
    - restart dse



  # Example that prints the loopback address and gateway for each host

- debug: msg="System  {{ groups['tag_Name_dev_db_seed'] }} || {{ hostvars[groups['tag_Name_dev_db_seed'][0]] }} ||has gateway {{ ansible_default_ipv4 }}"
- name: configure cassandra 

  template: src=cassandra.yml.j2 dest=/etc/dse/cassandra/cassandra.yaml
  notify:
    - restart dse
