# Put this with your other VirtualHosts, or at the bottom of the file

 <VirtualHost *:80>
    ServerName {{ orchestra_vhost }}


#	MCacheSize 16394
#	MCacheMaxObjectCount 100
# 	MCacheMinObjectSize 1
#	MCacheMaxObjectSize 4096000


    ProxyPass / http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ orchestra_port }}/ connectiontimeout=30 timeout=900
    ProxyPassReverse / http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ orchestra_port }}/
	ProxyVia On

    ProxyPass /api http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ switchboard_port }}/api
    ProxyPassReverse /api http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ switchboard_port }}/api

    <Location />
	     Order deny,allow
		 Allow from all
		 Options -Indexes
		 
   		 AddOutputFilterByType DEFLATE text/html
		 AddOutputFilterByType DEFLATE text/javascript
		 AddOutputFilterByType DEFLATE application/javascript
		 AddOutputFilterByType DEFLATE application/css
	</Location>
	
</VirtualHost>


<VirtualHost *:80>
    ServerName {{ switchboard_vhost }}
	 
    ProxyPass / http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ switchboard_port }}/ connectiontimeout=30 timeout=900
    ProxyPassReverse / http://{{ hostvars[groups['tag_Name_dev_app'][0]]['inventory_hostname'] }}:{{ switchboard_port }}/
	ProxyVia On
	
	Header set Access-Control-Allow-Methods "GET"
	Header append Access-Control-Allow-Methods "POST"
	Header append Access-Control-Allow-Methods "OPTIONS"
	Header append Access-Control-Expose-Headers "Set-Cookie"
	Header append Access-Control-Expose-Headers "Accept"
	
    Header set Pragma "nocache"
	Header set Cache-Control "no-cache"
	Header set Expires "0"

     <Location />
         Order deny,allow
         Allow from all
		 Options -Indexes
		 
   		 AddOutputFilterByType DEFLATE text/html
		 AddOutputFilterByType DEFLATE text/javascript
		 AddOutputFilterByType DEFLATE application/javascript
		 AddOutputFilterByType DEFLATE application/css
     </Location>
	 
 </VirtualHost>





