# Put this with your other VirtualHosts, or at the bottom of the file

 <VirtualHost *:80>
    ServerName {{ orchestra_vhost }}
 	DocumentRoot {{ clojure_app_dir }}{{ clojure_app_root }}/out/public
	DirectoryIndex orchestra.html

#	MCacheSize 16394
#	MCacheMaxObjectCount 100
# 	MCacheMinObjectSize 1
#	MCacheMaxObjectSize 4096000

    ProxyPass /api http://localhost:{{ switchboard_port }}/api
    ProxyPassReverse /api http://localhost:{{ switchboard_port }}/api

    <Location />
	     Order deny,allow
		 Allow from all
		 Options -Indexes
		 
   		 AddOutputFilterByType DEFLATE text/html
		 AddOutputFilterByType DEFLATE text/javascript
		 AddOutputFilterByType DEFLATE application/javascript
		 AddOutputFilterByType DEFLATE application/css
	</Location>
	
</VirtualHost>


<VirtualHost *:80>
    ServerName {{ switchboard_vhost }}
	 
    ProxyPass / http://localhost:{{ switchboard_port }}/ connectiontimeout=30 timeout=900
    ProxyPassReverse / http://localhost:{{ switchboard_port }}/
	ProxyVia On
	
	Header set Access-Control-Allow-Methods "GET"
	Header append Access-Control-Allow-Methods "POST"
	Header append Access-Control-Allow-Methods "OPTIONS"
	Header append Access-Control-Expose-Headers "Set-Cookie"
	Header append Access-Control-Expose-Headers "Accept"
	
    Header set Pragma "nocache"
	Header set Cache-Control "no-cache"
	Header set Expires "0"

     <Location />
         Order deny,allow
         Allow from all
		 Options -Indexes
		 
   		 AddOutputFilterByType DEFLATE text/html
		 AddOutputFilterByType DEFLATE text/javascript
		 AddOutputFilterByType DEFLATE application/javascript
		 AddOutputFilterByType DEFLATE application/css
     </Location>
	 
 </VirtualHost>

# <VirtualHost *:80>
#     ServerName {{ orchestra_vhost }}
# 	DocumentRoot /var/www/{{ orchestra_vhost }}/public
	
# 	RewriteEngine On
# 	RewriteRule ^/$ /orchestra-dev.html [L,P,QSA]
	
#     ProxyRequests Off
#     <Proxy *>
#         Order deny,allow
#         Allow from all
#     </Proxy>
 
#     ProxyPass / http://localhost:{{ orchestra_port }}/
#     ProxyPassReverse / http://localhost:{{ orchestra_port }}/
	
#     <Location />
#         Order allow,deny
#         Allow from all
#     </Location>
# </VirtualHost>

# NameVirtualHost *:80
# <VirtualHost *:80>
#     ServerName {{ orchestra_vhost }}
 
#     ProxyRequests Off
#     <Proxy *>
#         Order deny,allow
#         Allow from all
#     </Proxy>

#     ProxyPass / http://{{ ec2_private_ip_address }}:{{ switchboard_port }}/
#  	ProxyPassReverse / http://{{ ec2_private_ip_address }}:{{ switchboard_port }}/
	
#     <Location />
#         Order allow,deny
#         Allow from all
#     </Location>
# </VirtualHost>



