#{{ ansible_managed }}

user              www-data;


worker_processes  {{ ansible_processor_count }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_max_clients }};
}


http {
	upstream SwitchBoard {
		server ec2-204-236-170-60.us-west-1.compute.amazonaws.com:8080;
		#server 172.22.23.92:8100;
	}

	upstream Orchestra{
		server ec2-204-236-170-60.us-west-1.compute.amazonaws.com:3000;
	}

	server {
		listen 80;
		access_log /var/log/nginx/host.access.log main;

		location ^~ /api/ {
			proxy_pass http://SwitchBoard;
		}
		
		#all traffic not starting with VOServer will be routed to the instances in upstream "Orchestra"
		location / {
			proxy_pass http://Orchestra;
		}
	} 
}
