#{{ ansible_managed }}

user              www-data;


worker_processes  {{ ansible_processor_count }};
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_max_clients }};
}

error_log /var/log/nginx/host.error.log debug;




http {

  include    /etc/nginx/mime.types;

  gzip  on;
  gzip_http_version 1.0;
  gzip_types        text/plain
                    text/html
                    text/xml
                    text/css
                    application/json
                    application/xml
                    application/xhtml+xml
                    application/rss+xml
                    application/atom_xml
                    application/javascript
                    application/x-javascript;
  gzip_comp_level   6;
  gzip_proxied      any;
  gzip_vary         on;
  gzip_buffers      4 8k;       
  gzip_min_length   1000;


	upstream SwitchBoard {
		#ip_hash;
	 	{% for host in groups['tag_Name_' + environ + '_app'] %}
	 	server {{ hostvars[host]['ec2_private_ip_address'] }}:{{ switchboard_port }} {{ proxy_clustering_config }};
    {% endfor %}
	}



	server {

    {% if ssl_deployssl %}
        listen 443;
    {% else %}
        listen 80;
    {% endif %}
		
		server_name {{ orchestra_vhost }};
		access_log /var/log/nginx/host.access.log;

	  {% if ssl_deployssl %}
		  ssl on;
		  ssl_certificate /etc/ssl/certs/{{ ssl_certificate }};
		  ssl_certificate_key /etc/ssl/private/{{ ssl_key }};
    {% endif %}



    {% include "nginx-location-config.j2" %}


		
		# all traffic not starting with VOServer will be routed to the instances in upstream "Orchestra"
    # We do not fail on 404 errors for the static orchestra layer since thr probabilit of those is higher.
		location / {
			index {{ orchestra_default_page }};
      root /data/orchestra/www/out/public;
		} 
	}

	server {
	    listen      80;
	    server_name {{ orchestra_vhost }};
	    return 301 https://{{ orchestra_vhost }}$request_uri;
	}

	
}



