# Upstart script for clojure apps run via leiningen

description "Start and stop clojure application using lein"
version "1.0"
author "Ian Eslick"

# Configuration
# expect fork

start on startup
start on runlevel [2345]
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [!2345]

chdir {{ clojure_app_dir }}{{ clojure_app_root }}
setuid {{ clojure_app_user }}
setgid admin
env DEBUG=true
env LEIN_HOME=/home/{{ clojure_app_user }}
exec lein trampoline with-profile {{ clojure_app_profile }} run {{ clojure_app_args }} > {{ clojure_app_log_dir }}/{{ clojure_app_name }}.log 2>&1