# Assumes done by root or via sudo
---

# DEPLOYMENT

- name: configure the datastax enterprise repository
  apt_repository: repo="deb http://{{ dse_username }}:{{ dse_password }}@debian.datastax.com/enterprise stable main" state=present
  
- name: add dse repository key
  apt_key: url=https://debian.datastax.com/debian/repo_key state=present

- name: install DSE packages
  apt: pkg=dse-full state=installed force=yes
  notify:
    - restart dse

# CONFIGURATION

- name: configure cassandra
  template: src=cassandra.yml.j2 dest=/etc/dse/cassandra/cassandra.yaml 
  tags: datastax
  notify:
    - restart dse

- name: restart dse
  service: name=dse state=started enabled=yes

 
